table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
}

td, th {
  width: 25%;
}

.footer-row{
  color: var(--mat-paginator-container-text-color);
  background-color: var(--mat-paginator-container-background-color);
}